<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S29CertGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <S29CertGenerator.Properties.Settings>
            <setting name="CaKeyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="JsonRequestFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="JsonResponseFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CertOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="S29Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="IstaKeyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TrustStoreFolder" serializeAs="String">
                <value />
            </setting>
        </S29CertGenerator.Properties.Settings>
    </userSettings>
</configuration>