<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net472" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="AspNet.ScriptManager.bootstrap" version="5.2.3" targetFramework="net48" />
  <package id="AspNet.ScriptManager.jQuery" version="3.7.1" targetFramework="net48" />
  <package id="bootstrap" version="5.2.3" targetFramework="net48" />
  <package id="jQuery" version="3.7.1" targetFramework="net48" />
  <package id="log4net" version="3.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core.de" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core.de" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.de" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.de" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization.de" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net472" />
  <package id="Modernizr" version="2.8.3" targetFramework="net472" />
  <package id="MySqlConnector" version="2.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="popper.js" version="1.16.1" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3mc" version="2.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3mc" version="2.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.11" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.10" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
</packages>