<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="DealerId" value="32395"/>
  <add key="IstaFolder" value="E:\ISTA-D-4.31.16"/>
  <add key="SqlServer" value="Server=coding-server.local.holeschak.de;User ID=bmw_coding;Password=Strum-Oldy-tests-5come-broker-arbitrary"/>
  <add key="TestLicenses" value="1"/>
  <add key="AccessPwd" value="BmwCoding"/>
</appSettings>
