[submodule "EdiabasLib/32feet"]
	path = EdiabasLib/32feet
	url = ../../inthehand/32feet.git
	ignore = dirty
[submodule "EdiabasLib/SharpZipLibAndroid/SharpZipLib"]
	path = EdiabasLib/SharpZipLibAndroid/SharpZipLib
	url = ../../icsharpcode/SharpZipLib.git
