<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApkUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ApkUploader.Properties.Settings>
      <setting name="BundleFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ObbFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ResourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackUnassign" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackAssign" serializeAs="String">
        <value />
      </setting>
      <setting name="VersionAssign" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerialFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="SerialOem" serializeAs="String">
        <value />
      </setting>
    </ApkUploader.Properties.Settings>
  </userSettings>
</configuration>
