<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.65.0" targetFramework="net472" />
  <package id="Google.Apis.AndroidPublisher.v3" version="1.65.0.3295" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.65.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.65.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net472" />
  <package id="System.Management" version="8.0.0" targetFramework="net472" />
</packages>