<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.61.0" targetFramework="net472" />
  <package id="Google.Apis.AndroidPublisher.v3" version="1.61.0.3150" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.61.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.61.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>