<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.AndroidPublisher.v3" version="1.57.0.2876" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>