<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EdiabasLibConfigTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <EdiabasLibConfigTool.Properties.Settings>
            <setting name="IstadDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
        </EdiabasLibConfigTool.Properties.Settings>
    </userSettings>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
</configuration>
