/.vs/
/32feet.NET.Setup/
/AndroidAaaa/
/CF2SDPCOM/
/ExternalLibs/
/Help/
/Installer/
/InTheHand.Net.Personal.CF2/
/ITH.Net.Personal.FX2.Tests/
/ITH.Net.Personal.FX4.Tests/
/Readme/
/Samples/
/Testing/
/Widcomm/
/ITH.Net.Android/
/Alan tmp.ndoc
/CustomDictionary.xml
/InTheHand.Net.Personal.FxCop
/InTheHand.Net.Personal.ncb
/InTheHand.Net.Personal.sln
/InTheHand.Net.Personal.vssscc
/License.txt
/MakeCeTest.cmd
/MakeInstallerHack.cmd
/MakeNDocs.cmd
/coverage.cmd
/h2reg.ini
