/.vs/
/32feet.NET.Setup/
/AndroidAaaa/
/CF2SDPCOM/
/ExternalLibs/
/Help/
/Installer/
/InTheHand.Net.Personal.CF2/
/ITH.Net.Personal.FX2.Tests/
/ITH.Net.Personal.FX4.Tests/
/Readme/
/Samples/
/Testing/
/Widcomm/
/ITH.Net.Android/
