<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms"
          publicKeyToken="969db8053d3322ac"
          culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsCE.Forms"
          publicKeyToken="969db8053d3322ac"
          culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System"
          publicKeyToken="969db8053d3322ac"
          culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
