<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CarSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="LocalizedPerfCounter" value="True"/>
    </appSettings>
    <userSettings>
        <CarSimulator.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EcuFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerCertFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerCertPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSslPort" serializeAs="String">
                <value>3496</value>
            </setting>
            <setting name="ServerUseBcSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerDoIP" serializeAs="String">
                <value>False</value>
            </setting>
        </CarSimulator.Properties.Settings>
    </userSettings>
</configuration>
