<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PsdzClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <PsdzClient.Properties.Settings>
      <setting name="IstaFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="VehicleIp" serializeAs="String">
        <value />
      </setting>
      <setting name="IcomConnection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LanguageIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GenServiceModules" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="DecryptFileName" serializeAs="String">
        <value />
      </setting>
    </PsdzClient.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- ############################################################## -->
    <!-- ############## custom settings for Standalone ################ -->
    <!-- ############################################################## -->
    <!-- resolution, change it if needed -->
    <add key="BMW.Rheingold.ISTAGUI.Height" value="800" />
    <add key="BMW.Rheingold.ISTAGUI.Width" value="1024" />
    <!-- disable CheckSystemRequirements -->
    <add key="BMW.Rheingold.ISTAGUI.disableCheckSystemRequirements" value="false" />
    <!-- disable reject Fake FSC -->
    <add key="BMW.Rheingold.ISTAGUI.disableFakeFSCreject" value="false" />
    <!-- enable Programming via ENET, don't use it with ICOM Nano! -->
    <add key="BMW.Rheingold.ISTAGUI.enableENETprogramming" value="true" />
    <!-- enable diagnose for Toyota Supra J29, or other not licensed Brands -->
    <add key="BMW.Rheingold.ISTAGUI.disableIsVehicleLockedDown" value="false" />
    <!-- ############################################################## -->
    <!-- ########## end of custom settings for Standalone ############# -->
    <!-- ############################################################## -->
    <add key="BMW.Rheingold.ISTAGUI.isStandalone" value="true" />
    <add key="BMW.Rheingold.ISTAGUI.App.MultipleInstancesAllowed" value="false" />
    <!-- Trace diagnostic params -->
    <add key="BMW.Rheingold.Logging.Directory" value="..\..\..\Logs" />
    <add key="BMW.Rheingold.Logging.Log4Net.Configure" value="true" />
    <!-- global debug level settings -->
    <add key="DebugLevel" value="6" />
    <!-- OperationalMode -->
    <add key="BMW.Rheingold.OperationalMode" value="ISTA_PLUS" />
    <add key="BMW.Rheingold.ISTAGUI.NewGUIActive" value="true" />
    <add key="BMW.Rheingold.RheingoldSessionController.Logic.TransferECUKomViaFASTA" value="true" />
    <add key="BMW.Rheingold.RheingoldSessionController.FASTATransferMode" value="None" />
    <add key="BMW.Rheingold.CoreFramework.ILeanActive" value="true" />
    <add key="BMW.Rheingold.CoreFramework.PUKActive" value="false" />
    <add key="BMW.Rheingold.CoreFramework.IstaNFPackageFilter" value="ISTA_" />
    <add key="BMW.Rheingold.ISTAGUI.Pages.StartPage.ShowDisclaimer" value="false" />
    <add key="BMW.Rheingold.ISTAGUI.App.DoInitialIpsAvailabilityCheck" value="false" />
    <add key="BMW.Rheingold.ISTAGUI.ShowHiddenDiagnosticObjects" value="true" />
    <add key="BMW.Rheingold.ISTAGUI.Dialogs.AdministrationDialog.ShowPTTSelection" value="true" />
    <add key="EnableRelevanceFaultCode" value="false" />
    <add key="BMW.Rheingold.OnlineMode" value="false" />
    <add key="BMW.Rheingold.CoreFramework.PrintingType" value="DIALOG" />
    <add key="BMW.Rheingold.CoreFramework.PrintingType" value="both" />
    <add key="BMW.Rheingold.CoreFramework.PrintingXpsPath" value="..\..\..\Print" />
    <!-- necessary directories -->
    <add key="FASTADirPath" value="..\..\..\FASTAOut" />
    <add key="SimFileDirectory" value="..\..\..\Testdaten\" />
    <add key="TransFileDirectory" value="..\..\..\Transactions\" />
    <add key="MetaFileDirectory" value="..\..\..\Transactions\" />
    <add key="TransactionDirPath" value="..\..\..\Transactions\" />
    <add key="PackageTmpDirPath" value="..\..\..\Temp\" />
    <add key="PackageTempPath" value="..\..\..\Temp\" />
    <!-- [UH] modify ediabas.ini -->
    <add key="BMW.Rheingold.VehicleCommunication.ECUKom.ModifyEdiabasIni" value="true" />
    <!-- Enable Programming -->
    <add key="BMW.Rheingold.Programming.ExpertMode" value="true" />
    <add key="BMW.Rheingold.Programming.Enabled" value="true" />
    <add key="BMW.Rheingold.Programming.PsdzDataPath" value="..\..\..\PSdZ\data_swi" />
    <add key="BMW.Rheingold.Programming.PsdzWebservice.Enabled" value="false" />
    <!-- Enable Basic Features -->
    <add key="BMW.Rheingold.VehicleIdentification.BasicFeatureIdentEnabled" value="true" />
    <!-- sgbd path config -->
    <add key="BMW.Rheingold.ISTAGUI.BinPathModifications" value="..\..\..\Ediabas\BIN" />
    <!-- MID client document paths -->
    <add key="BMW.Rheingold.Document.HtmlTextWriter.Enabled" value="true" />
    <!-- BMW.Rheingold.Diagnostics -->
    <!-- local debug level -->
    <!-- 
    <add key="BMW.Rheingold.Diagnostics.DebugLevel" value="0"/>
    -->
    <add key="BMW.Rheingold.Diagnostics.VehicleIdent.ReadFASTAData" value="false" />
    <add key="BMW.Rheingold.Diagnostics.VehicleIdent.CheckForConfigOverrides" value="true" />
    <add key="BMW.Rheingold.Diagnostics.VehicleIdent.doFASTAData().OperationMode" value="CacheFirst" />
    <add key="BMW.Rheingold.Diagnostics.VehicleIdent.doFASTAData().FASTACfgUseGroupList" value="true" />
    <add key="BMW.Rheingold.Diagnostics.EnableRsuProcessHandling" value="false" />
    <!-- ISTA testmodule config -->
    <add key="BMW.Rheingold.Diagnostics.Module.ISTA.ISTATabModuleCore.SubModulePath" value="..\..\..\Testmodule" />
    <add key="BMW.Rheingold.Diagnostics.Module.ISTA.ISTATabModuleCore.TestmoduleType" value="SingleAssemblyContainer" />
    <!-- if false, no FASTA data will be generated at all -->
    <add key="FASTAEnabled" value="true" />
    <add key="BMW.Rheingold.RheingoldSessionController.FileTransfer.BitsProxyPreconfig" value="true" />
    <add key="BMW.Rheingold.ISTAGUI.CommandECUFunctionsReadStatus.HandleFASTA" value="false" />
    <add key="BMW.Rheingold.RheingoldSessionController.Logic.DoCompressedFASTAUpload" value="true" />
    <!-- Don't change this here; do it in your local registry !!! -->
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForFBM" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForDOM" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForNOP" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForSWT" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForSWTV3" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForCVD" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForMaintenanceHistory" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForServiceHistory" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForTechnicalCampaigns" value="true" />
    <add key="BMW.Rheingold.CoreFramework.UseTricZenctralForVPS" value="false" />
    <add key="BMW.Rheingold.CoreFramework.TRICZentralActive" value="false" />
    <add key="BMW.Rheingold.CoreFramework.ReplaceInUriIlzWithTrz" value="true" />
    <add key="BMW.Rheingold.CoreFramework.ConfigIAPHelper.DownloadLocation" value="..\..\..\Downloads" />
    <add key="BMW.Rheingold.CoreFramework.IstaPackageActive" value="true" />
    <!-- BMW.Rheingold.FASTA -->
    <add key="BMW.Rheingold.Diagnostics.FASTADataGenerator.doFASTARelevantFiltering" value="true" />
    <!-- TesterGUI elements -->
    <add key="TesterGUI.ScreenGeometry" value="maximized" />
    <add key="TesterGUI.HideSplashScreen" value="false" />
    <!-- possible values for ShutDownMode: PowerOffOrRestartOrCancel, PowerOffOrRestart, PowerOff, LogOff, PowerOffOrRestartOrLogOff, Restart -->
    <add key="TesterGUI.ShowBrandLogo" value="true" />
    <add key="TesterGUI.ShutDownMode" value="None" />
    <add key="TesterGUI.DoBackgroundCleanup" value="true" />
    <add key="TesterGUI.SendLicenseMail" value="false" />
    <add key="TesterGUI.ExpertMode" value="true" />
    <add key="TesterGUI.EcuTree.ExpertMode" value="true" />
    <add key="TesterGUI.EcuTree.ECUTreeDrawBusLines" value="true" />
    <add key="TesterGUI.EcuTree.ECUTreeShowGridLines" value="false" />
    <add key="TesterGUI.EcuTree.ECUTreeShowCoordEditor" value="false" />
    <add key="TesterGUI.EcuTree.ECUTreeShowDuplicates" value="true" />
    <add key="TesterGUI.EcuTree.ECUShowVirtualBusECU" value="false" />
    <add key="TesterGUI.EcuTree.ECUShowNoneBusECU" value="false" />
    <add key="TesterGUI.HideBogusFaults" value="true" />
    <add key="TesterGUI.HideUnknownFaults" value="true" />
    <add key="TesterGUI.PreferEthernet" value="false" />
    <!-- special feature for FREIMANN only -->
    <add key="BMW.Rheingold.ISTAGUI.Dialogs.ClampHandlingDialog.DoIgnitionChecks" value="false" />
    <add key="BMW.Rheingold.Diagnostics.VehicleIdent.DoIgnitionChecks" value="false" />
    <!-- Default value string empty -->
    <add key="TesterGUI.SelectedBrand" value="BMWBMWiMINI" />
    <add key="TesterGUI.IMIBDeviceReservation" value="true" />
    <add key="BMW.Rheingold.ConnectionManager.AcceptedMeasurementDeviceTypes" value="IMIB_R2, IMIB_NX" />
    <add key="InfoTypesMainGroup" value="SWZ,SIT,FTD,FEB" />
    <!-- default language for first startup -->
    <add key="BMW.Rheingold.ISTAGUI.Dialogs.AdministrationDialog.SelectableLanguages" value="?" />
    <add key="KMM_E89X" value="..\..\..\KMMdaten\E89X\" />
    <add key="KMM_E60" value="..\..\..\KMMdaten\E060\" />
    <add key="KMM_E70" value="..\..\..\KMMdaten\E070\" />
    <add key="KMM_R56" value="..\..\..\KMMdaten\R056\" />
    <add key="KMM_E65" value="..\..\..\KMMdaten\E065\" />
    <add key="KMM_RR1" value="..\..\..\KMMdaten\RR01\" />
    <add key="KMM_MRK24" value="..\..\..\KMMdaten\K024\" />
    <add key="KMM_MRKH24" value="..\..\..\KMMdaten\KH24\" />
    <!-- Module: Ubergabedurchsicht -->
    <add key="BMW.Rheingold.Diagnostics.Module.UebergabeDurchsicht.Kl15Reactivation" value="true" />
    <!-- Dealer: 00498935350 Breakdown: 00491802343234 Hotline: 00491802324252 -->
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.MiniServiceBreakdown" value="+498914379489" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.MiniServiceDealer" value="+498935350" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.MiniServiceHotline" value="+4989588099598" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.MiniServicePasso" value="0" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.BMWServiceBreakdown" value="+498914379479" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.BMWServiceDealer" value="+498935350" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.BMWServiceHotline" value="+4989588099591" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.BMWServicePasso" value="0" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.RRServiceBreakdown" value="+498914379479" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.RRServiceDealer" value="+498935350" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.RRServiceHotline" value="+4989588099591" />
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.RRServicePasso" value="0" />
    <!-- try to fetch fsc via SWT online within PDI or SWT module-->
    <add key="BMW.ISPI.Diagnostics.Module.UebergabeDurchsicht.SWTOnlineEnabled" value="false" />
    <!-- BMW.Rheingold.DatabaseProvider -->
    <add key="BMW.Rheingold.DatabaseProvider.SetupRuleCache" value="true" />
    <!-- DatabaseProviderSQLite, DatabaseProviderMatrix, DatabaseProviderOracle -->
    <add key="BMW.Rheingold.DatabaseProvider.DatabaseProviderFactory.DatabaseProvider" value="DatabaseProviderSQLite" />
    <add key="BMW.Rheingold.Programming.PsdzProg.InitOnAppStartup" value="true" />
    <add key="BMW.Rheingold.Programming.PsdzService.HostIdleTimeout" value="10000" />
    <add key="BMW.Rheingold.xVM.ICOM.Dirtyflag.Detection" value="false" />
    <!-- Voltage -->
    <add key="BMW.Rheingold.Clamp30.Voltage.Min.Warning.Pb" value="12.55" />
    <add key="BMW.Rheingold.Clamp30.Voltage.Min.Warning.Lfp" value="12.35" />
  </appSettings>
  
</configuration>
