/bin/
/InTheHand.Net.Personal/
/Net/
/Net.Bluetooth/
/Net.Bluetooth.AttributeIds/
/Net.Bluetooth.BlueSoleil/
/Net.Bluetooth.BlueZ/
/Net.Bluetooth.Droid/
/Net.Bluetooth.Factory/
/Net.Bluetooth.Msft/
/Net.Bluetooth.NoMsft/
/Net.Bluetooth.StonestreetOne/
/Net.Bluetooth.Widcomm/
/Net.Bluetooth_Sdp/
/Net.Bluetooth_Sdp2/
/Net.IrDA/
/Net.Mime/
/Net.Ports/
/Net.Sockets/
/obj/
/Runtime/
/Utils/
/Win32/
/Windows/
