/* Move down content because we have a fixed navbar that is 50px tall */
/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*
input,
select,
textarea {
    min-width: 100px;
}

button {
    padding: 10px
}
*/
html {
    font-size: 75%;
    scroll-behavior: auto !important;
}

.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    background-color: var(--bs-gray-200);
    border-radius: .3rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (min-height: 500px) {
    html {
        font-size: 100%
    }

    .jumbotron {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-top: 1rem;
    }

    .body-content {
        padding: 0;
    }
}
