<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Interface" value="STD:OBD"/>
        <add key="ObdComPort" value="COM4"/>
        <add key="AdsComPort" value="COM4"/>
        <add key="ApiTrace" value="0"/>
        <add key="IfhTrace" value="0"/>
        <add key="TraceBuffering" value="0"/>
        <add key="RetryComm" value="1"/>
        <add key="EcuPath" value="C:\EDIABAS\Ecu"/>
<!--
        <add key="ObdDtrTimeCorrCom" value="0.3"/>
        <add key="ObdDtrTimeCorrFtdi" value="0.3"/>
        <add key="ObdAddRecTimeout" value="20"/>
        <add key="ObdFtdiBitBang" value="0"/>
-->
    </appSettings>
</configuration>
