<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
<!--
        The entries for Interface, ApiTrace, IfhTrace, TraceBuffering, EcuPath and RetryComm are taken from EDIABAS.INI if not present here.
        Additionally the ENET interface reads the settings from the XEthernet section, if the RemoteHost is a valid ip address.
-->
<!--
        <add key="Interface" value="STD:OBD"/>
        <add key="EcuPath" value="C:\EDIABAS\Ecu"/>
        <add key="RetryComm" value="1"/>
        <add key="TraceBuffering" value="0"/>
        <add key="IfhTraceBuffering" value="1"/>
        <add key="AppendTrace" value="1"/>
        <add key="ApiTraceName" value="api.log"/>
        <add key="IfhTraceName" value="ifh.log"/>
        <add key="AdsComPort" value="COM4"/>
-->
        <add key="ObdComPort" value="COM4"/>
        <add key="LockTrace" value="0"/>
        <add key="EnetRemoteHost" value="auto:all"/>
        <add key="ApiTrace" value="0"/>
        <add key="IfhTrace" value="0"/>
<!--
        <add key="ObdDtrTimeCorrCom" value="0.3"/>
        <add key="ObdDtrTimeCorrFtdi" value="0.3"/>
        <add key="ObdAddRecTimeout" value="20"/>
        <add key="ObdFtdiBitBang" value="0"/>
        <add key="ObdBatteryVoltage" value="12000"/>
        <add key="ObdIgnitionVoltage" value="12000"/>
-->
    </appSettings>
</configuration>
